body {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	margin: 0 auto;
	width: 80vw;
}

.main-content {
	margin-top: 50px;
}

footer {
	display: flex;
	justify-content: space-between;
	justify-self: end;
	padding: 20px;
	width: 80%;
}